.hero{
    background-color: f7f7f7;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.card{
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.left-section{
    background-image: linear-gradient(to top, rgba(31, 52, 241, 0.342), rgba(70, 82, 190, 0.442)), url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

a{
    text-decoration: none !important;
}

.fade-enter, .fade-leave-to{
    opacity: 0;
}

.fade-enter-active, .fade-leave-active{
    transition: opacity .3s;
}