<template>
    <chartjs-bar v-bind:labels="labels" v-bind:datasets="datasets" v-bind:option="option"></chartjs-bar>
</template>
<script>
export default {
    name: 'Bar', 
    data(){
    return{
        labels:['January', 'Febuary', 'March', 'April', 'May'],
        datasets:[
            {
                label:["Borrowed Book"],
                data:[400, 450, 400, 400, 564],
                backgroundColor:"blue"
            },
            {
                
                label:["Returned Book"],
                data:[600, 560, 390, 356, 650],
                backgroundColor:"orange"
            },
        ],
        option:{
            title:{
                display:true,
                position:"top",
                text:"Borrowed and Returned Books"
            },
            legend:{
                display:true,
            }
        }
    };
}
}
</script>