<template id="Book">

    <div>
         <div class="modal_add_patron">
            <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModallabel" aria-hidden="false">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header modal_head" style="background-color: aqua;"  >
                                <h6 class="modal-title" id="addModallabel">ADD BOOKS</h6>
                                <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="POST">
                                <div class="modal-body">           
                                        <div class="form-group">
                                            <label for="fname">Name</label>
                                            <input id="fname" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="sname">Author</label>
                                            <input id="sname" type="text" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <label for="lname">Copies</label>
                                            <input id="lname" type="text" class="form-control">
                                        </div>
                                    <div class="form-group">
                                        <label for="email">Category</label>
                                        <input id="email" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline-success" style="background-color: aqua;">SAVE</button>
                                    <button type="button" class="btn btn-outline-secondary" style="background-color: aqua;" data-dismiss="modal">CANCEL</button>

                                 </div>
                              </form>  
                            </div>
                         </div>
                        </div>       
                    </div>
                     <div class="modal_delete_patron">
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModallabel" aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header modal_head" style="background-color: aqua;">
                            <h6 class="modal-title" id="deleteModallabel">CONFIRMATION</h6>
                            <button type="" class="btn btn-close" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete this entry?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  style="background-color: aqua;" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
                            <button type="button"  style="background-color: aqua;" class="btn btn-outline-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
        <SideBar/>
        <div class="dashboard_container">
            <h3>Book Management</h3>
            <hr>
            
           <div class="container">
               
                        <button class="btn btn-success" data-toggle="modal" data-target="#addModal" style="background-color: purple;  width: 118px; height: 35px; font-size: 14px;">Add Books</button>
                       <input class="form-control" type="text" placeholder="Search" style="background-color:white; margin-left:730px; margin-top:5px;  width: 180px; height: 35px; font-size: 14px;">
            <table id="myTable" class="table table-striped table-hover" style="background-color:aqua; margin-top: 60px;  margin-left: 10px; width:1000px; height: 30px;">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Copies</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 
                           <a class="Edit"><font-awesome-icon icon="edit" style="color: green;"/></a>
                           <a class="Delete" data-toggle="modal" data-target="#deleteModal"><font-awesome-icon icon="trash-alt" style="color:red; margin-left: 10px;"/></a>
                           <a class="Returned"><font-awesome-icon icon="arrow-alt-circle-right" style="color: orange; margin-left: 10px;"/></a>
                           <a class="Borrow"><font-awesome-icon icon="arrow-alt-circle-left" style="color: blue; margin-left: 10px;"/></a>
                        </td>
                        <td>Clean Architecture</td>
                        <td>Robert Martin</td>
                        <td>10pcs</td>
                        <td>Computer Science</td>
                    </tr>
                     <tr>
                        <td>
                           <a class="Edit"><font-awesome-icon icon="edit" style="color: green;"/></a>
                           <a class="Delete" data-toggle="modal" data-target="#deleteModal"><font-awesome-icon icon="trash-alt" style="color:red; margin-left: 10px;"/></a>
                           <a class="Returned"><font-awesome-icon icon="arrow-alt-circle-right" style="color: orange; margin-left: 10px;"/></a>
                           <a class="Borrow"><font-awesome-icon icon="arrow-alt-circle-left" style="color: blue; margin-left: 10px;"/></a>
                        </td>
                        <td>Code Complete</td>
                        <td>Robert Martin</td>
                        <td>10pcs</td>
                        <td>Computer Science</td>
                    </tr>
                     <tr>
                        <td>
                           <a class="Edit"><font-awesome-icon icon="edit" style="color: green;"/></a>
                           <a class="Delete" data-toggle="modal" data-target="#deleteModal"><font-awesome-icon icon="trash-alt" style="color:red; margin-left: 10px;"/></a>
                           <a class="Returned"><font-awesome-icon icon="arrow-alt-circle-right" style="color: orange; margin-left: 10px;"/></a>
                           <a class="Borrow"><font-awesome-icon icon="arrow-alt-circle-left" style="color: blue; margin-left: 10px;"/></a>
                        </td>
                        <td>Java Programming</td>
                        <td>Ian Paul</td>
                        <td>10pcs</td>
                        <td>Computer Science</td>
                    </tr>
                 </tbody>
              </table>
           </div>
        </div>
     </div>   
</template>

<script>
import Sidebar from './components/sidebar.vue'

export default {
    name: 'Book',
    components: {
        Sidebar
    }
}
</script>

<style scoped>
.dashboard_container h3{
    color:black;
}
</style>