<template>
    <chartjs-doughnut v-bind:labels="labels" v-bind:datasets="datasets" v-bind:option="option"></chartjs-doughnut>
</template>
<script>
export default {
    name:'Doughnut',
    data(){
        return{
            labels:['History', 'Computer Science','Love Story', 'Action', 'Adventure'],
            datasets:[
                {
                data:[69, 90, 46, 40, 20],
                backgroundColor:['pink', 'orange', 'red', '#10c242']
            }
            ],
            option:{
                title:{
                    display:true,
                    position:"top",
                    text:"Most Popular Genre"
                }
            }
        };
    }
}
</script>