<template id="Setting">

    <div>
        <SideBar/>


        <div class="dashboard_container" >
            <h3>Setting</h3>
            <hr>
    </div>
    </div>
</template>


<script>
import Sidebar from './components/sidebar.vue'

export default {
    name: 'Setting',
    components: {
        Sidebar,
    }
}
 
</script>


<style scoped>
.dashboard_container h3{
    color:black;
    margin-top:20px;
}

</style>