<template>
    <div>
        <UserNavbar/>
        <div class="container-fluid">
          <div class="col-lg-10 mx-auto">
                <div class="card tbl-card h-100">
                    <div class="card-body text-center">
                    <div class="row">
                        <div class="col-md-8 mt-2">
                            <h6 class="card-title">Welcome, User!</h6>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            <button class="btn btn-success" @click="$bvModal.show('addModal')"><i class="fas fa-plus"></i> Add Report</button>
                        </div>
                    </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light text-center">
                                <tr>
                                    <th scope="col">Report Title</th>
                                    <th scope="col">Report</th>
                                    <th scope="col">Date Posted</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="customtable">
                                <tr v-for="(report, i) in reports" :key="i">
                                    <td class="text-center">{{report.report_title}}</td>
                                    <td>{{report.report_desc}}</td>
                                    <td class="text-center">{{report.created_at}}</td>
                                    <td class="text-center">
                                        <span class="badge rounded-pill" :class="report.report_status == 'Action needed' ? 'bg-danger' : 'bg-success'">
                                            {{report.report_status}}
                                        </span>
                                    </td>
                                    <td style='white-space: nowrap;' class="text-center">
                                        <button class="btn btn-primary mx-2" @click="editReport = report; $bvModal.show('editModal')">Edit <i class="fas fa-edit"></i></button>
                                        <button class="btn btn-danger" @click="deleteReport = report.id; $bvModal.show('deleteModal')"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <b-modal id="addModal" centered title="Create Report">
            <form action="" class="me-auto" >
                <div class="mb-3">
                    <label for="report_title">Report Title</label>
                    <input type="text" class="form-control" v-model="data.report_title" name="report_title" id="report_title" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label for="report_desc">Report Description</label>
                    <textarea type="text" class="form-control" v-model="data.report_desc" name="report_desc" id="report_desc" autocomplete="off" required/>
                </div>
            </form>
            <template #modal-footer = {cancel} >
                <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
                <b-button size="sm" variant="success" @click.prevent="create">
                    Create Report
                </b-button>
            </template>
        </b-modal>

        <b-modal id="editModal" centered title="Edit Report">
            <form action="" class="me-auto" >
                <div class="mb-3">
                    <label for="report_title">Report Title</label>
                    <input v-model="editReport.report_title" type="text" class="form-control" name="report_title" id="report_title" autocomplete="off" required>
                </div>
                <div class="mb-3">
                    <label for="report_desc">Report Description</label>
                    <textarea v-model="editReport.report_desc" type="text" class="form-control" name="report_desc" id="report_desc" autocomplete="off" required/>
                </div>
            </form>
            <template #modal-footer = {cancel} >
                <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
                <b-button size="sm" variant="success" @click="update">
                    Update Report
                </b-button>
            </template>
        </b-modal>

        <b-modal id="deleteModal" centered title="Confirm">
            <form action="" class="me-auto" >
                <p>Are you sure to delete this report?</p>
            </form>
            <template #modal-footer = {cancel} >
                <b-button variant="primary" size="sm" @click="cancel()"> Cancel </b-button>
                <b-button size="sm" variant="danger" @click="destroyReport">
                    Delete Report
                </b-button>
            </template>
        </b-modal>

    </div>
</template>
<script>
import UserNavbar from '@/components/Navbar/UserNav.vue'
import {mapState} from 'vuex'
export default({
    name: 'UserDashboard',
    components:{
        UserNavbar
    },
    data () {
        return{
            data: {
                report_title: '',
                report_desc: '',
            },
            editReport: '',
            deleteReport: '',
        }
    },
    computed: {
        ...mapState('user', ['reports']),
    },
    async mounted() {
        await this.$store.dispatch('auth/checkAuthUser');
        await this.$store.dispatch('auth/checkUser');
        await this.$store.dispatch('user/getReport');
    },
    methods: {
        //expects function
        async create(){
            const res = await this.$store.dispatch('user/createReport', this.data)
            console.log(res)
            if(res.status == 200){
                this.$bvModal.hide('addModal')
                this.data = {
                    report_title: '',
                    report_desc: '',
                }
                this.$toast.success('Report created successfully')
            } else {
                this.$toast.error('Something went wrong')
            }
        },
        async update(){
            const res = await this.$store.dispatch('user/updateReport', this.editReport)
            console.log(res)
            if(res.status == 200){
                this.$bvModal.hide('editModal')
                this.editReport = ''
                this.$toast.success('Report updated successfully')
            } else {
                this.$toast.error('Something went wrong')
            }
        },
        async destroyReport(){
            const res = await this.$store.dispatch('user/deleteReport', this.deleteReport)
            console.log(res)
            if(res.status == 200){
                this.$bvModal.hide('deleteModal')
                this.$toast.success('Report deleted successfully')
            } else {
                this.$toast.error('Something went wrong')
            }
        }
    }
})
</script>
<style>
.close{
    background: transparent !important;
    outline: none !important;
    border: 0 !important;
    font-size: 1.5rem;
}

.navbar{
    background-color: #ced4da !important;
}

.tbl-card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 0px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    top: 280px;
    height: 100% !important;
    max-height: 510px;
    overflow: auto;
    border: none;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card .card-title {
    font-weight: 600;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table thead th {
    font-weight: 500;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table th,
.table thead th {
    font-weight: 500;
}

th {
    text-align: inherit;
}

.m-b-20 {
    margin-bottom: 20px;
}
</style>

