.header{
    background-color:grey;
    width: 100%;
    height: 90px;
    text-align: left;
    padding: 2%;
    font-size: 28px;
}

.sidebar{
    width: 290px;
    height: 100%;
    text-align: left;
    padding: 2%;
    background-color: grey;
    position: fixed;
    font-size: 20px;
}

.dashboard_container{
    margin-left: 15.5%;
    width: 90%;
    height: 700px;
    background-color: white;
    position: fixed;
    text-align: LEFT;
    padding: 5%;
}
.btn:hover {
    background-color: yellow;
  }