<template>
  <div id="app">
  
    <router-view/>
  
  </div>
</template>

<script>
import Login from '@/components/auth/Login.vue'
import Register from '@/components/auth/Register.vue'
import Dashboard from '@/components/admin/Dashboard.vue'

export default {
  name: 'App',
  component: {
    Login,
    Register,
    Dashboard
  }
}
</script>

<style>
    @import './assets/css/style.css'
</style>
